#deployments
  - @deployments.each do |deployment|
    %div[deployment]
      .env= deployment.env
      .host_name= deployment.host_name
      .author= deployment.author
      .version= deployment.version

      .commits
        - deployment.commits.each do |commit|
          .message= commit.message

